# Exercise 00 : Line chart

## Imports

In [1]:
import pandas as pd
import sqlite3

## Make a connection to the database

In [2]:
sql_con = sqlite3.connect('../data/checking-logs.sqlite.sqlite')

## Run a query that gets the datetime from the pageviews table, selecting only the users and not the admins

In [10]:
query = """
SELECT 
    datetime
FROM
    pageviews
WHERE
    uid LIKE 'user_%'
"""
df = pd.read_sql(query, sql_con, parse_dates='')

In [11]:
df

                       datetime
0    2020-04-17 22:46:26.785035
1    2020-04-18 10:53:52.623447
2    2020-04-18 10:56:55.833899
3    2020-04-18 10:57:37.331258
4    2020-04-18 12:05:48.200144
..                          ...
982  2020-05-21 18:45:20.441142
983  2020-05-21 23:03:06.457819
984  2020-05-21 23:23:49.995349
985  2020-05-22 11:30:18.368990
986  2020-05-22 18:22:22.847815

[987 rows x 1 columns]