# Exercise 03 : Aggregations

## Imports

In [5]:
import pandas as pd
import sqlite3

## Create a connection to the database using the library sqlite3

In [6]:
sql_con = sqlite3.connect('../data/checking-logs.sqlite.sqlite copy')

## Get the schema of the table test

In [8]:
pd.io.sql.read_sql('PRAGMA table_info(test);', sql_con)

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

## Get only the first 10 rows of the table test to check what the table looks like

## Find among all the users the minimum value of the delta between the first commit of the user and the deadline of the corresponding lab using only one query
- do this by joining the table with the table deadlines
- the difference should be displayed in hours
- do not take the lab ’project1’ into account, it has longer deadlines and will be an outlier
- the value should be stored in the dataframe df_min with the corresponding uid

## Do the same thing, but for the maximum, using only one query, the dataframe name is df_max

## Do the same thing but for the average, using only one query, this time your dataframe should not include the uid column, and the dataframe name is df_avg

## We want to test the hypothesis that the users who visited the newsfeed just a few times have the lower delta between the first commit and the deadline. To do this, you need to calculate the correlation coefficient between the number of pageviews and the difference
- using only one query, create a table with the columns: uid, avg_diff, pageviews
- uid is the uids that exist in the test
- avg_diff is the average delta between the first commit and the lab deadline per user
- pageviews is the number of Newsfeed visits per user
- do not take the lab ’project1’ into account
- store it to the dataframe views_diff

- use the Pandas method corr() to calculate the correlation coefficient between the number of pageviews and the difference

## Close the connection

In [4]:
sql_con.close()